# input ()

### This function first takes the input from the user and converts it into a string. The type of the returned object always will be <type ‘str’>.

## Syntax:

### inp = input('STATEMENT')

In [ ]:
val = input("Enter the any value : ")
print(val)

Enter the any value : 620
620

In [ ]:
#Taking String as an input:
name = input("What is your name?\n")  # \n ---> newline  ---> It causes a line break
print(name)

What is your name?
Akash
Akash

In [ ]:
#Program to check th input
#type in Python

num = input("Enter the number: ")
print(num)
name1 = input("Enter the name: ")
print(name1)

## Printing type of the input value
print("type of the number", type(num))
print("type of the name", type(name1))

Enter the number: 1234567890
1234567890
Enter the name: Akash Rayate
Akash Rayate
type of the number <class 'str'>
type of the name <class 'str'>

## Type casting

### There are the various functions that are used to take as desired input few of them are : -

## int(input())
## float(input())

In [ ]:
intNum = int(input("Enter the number: "))
print(intNum, " ", type(intNum))

floatNum = float(input("Enter any float number : "))
print(floatNum, " ", type(floatNum))

Enter the number: 123
123   <class 'int'>
Enter any float number : 12038.435356
12038.435356   <class 'float'>

# Taking input from console in Python

### What is Console in Python? Console (also called Shell) is basically a command line interpreter that takes input from the user i.e one command at a time and interprets it. If it is error free then it runs the command and gives required output otherwise shows the error message.

In [ ]:
#input 
input1 = input()

#output
print(input1)

123
123

## 1.Typecasting the input to Integer

###  There might be conditions when you might require integer input from the user/Console, the following code takes two input(integer/float) from the console and typecasts them to an integer then prints the sum.

In [ ]:
#input 
num1 = int(input())
num2 = int(input())

#printing the sum in Integer
print(num1 + num2)

45
33
78

## 2.Typecasting the input to Float

### To convert the input to float the following code will work out.

In [ ]:
#input
f_num=float(input("Enter the f_num : "))
f_num1=float(input("Enter the F_num1 : "))

#printing the sum in float
print("Sum of f_num + f_num1 : ", f_num + f_num1)

Enter the f_num : 20
Enter the F_num1 : 70
Sum of f_num + f_num1 :  90.0

## 3.Typecasting the input to String

### All kinds of input can be converted to string type whether they are float or integer. We make use of keyword str for typecasting.

In [ ]:
#input
string = str(input("Enter any number which will be converted into string : "))

#output
print(string)

#or by default
string_default = input()

#output
print(string_default)

Enter any number which will be converted into string : 23436
23436
asdfghj
asdfghj

## Taking multiple inputs from user in Python

### In Python user can take multiple values or inputs in one line by two methods. 

### 1.Using split() method
### 2.Using List comprehension

## Using split() method

### This function helps in getting multiple inputs from users. It breaks the given input by the specified separator. If a separator is not provided then any white space is a separator. Generally, users use a split() method to split a Python string but one can use it in taking multiple inputs.

### Syntax 

#### input().split(separator, maxsplit)

In [ ]:
# Python program showing how to multiple inputs are using split

#Taking two inputs

x,y = input("Enter the value of x and y : ").split()
print("Enter the value of x:" , x)
print("Enter teh value of y:", y)
print()

Enter the value of x and y : 12 15
Enter the value of x: 12
Enter teh value of y: 15

In [ ]:
## taking three inputs
##1.total number of student
##2.Number of boys
##3.Number of girls

x,y,z = input("Enter the three values : ").split()
print("Total Number of Students : ",x)
print("Total Number of Boys: ",y)
print("Toatal Number of Girls: ",z)

Enter the three values : 100 40 60
Total Number of Students :  100
Total Number of Boys:  40
Toatal Number of Girls:  60

In [ ]:
##Taking two inputs at a time
a,b = input("Enter the values: ").split()
print("First number is {} and second number is {}".format(a,b))

Enter the values: 33.33337 66.666667
First number is 33.33337 and second number is 66.666667

In [ ]:
## Taking multiple inputs at a time
# and type casting using list()function

x=list(map(int, input("Enter multiple values: ").split()))
print("List of Students: ", x)

Enter multiple values: 10 20 30 40 50 55 65 75 85 90 100
List of Students:  [10, 20, 30, 40, 50, 55, 65, 75, 85, 90, 100]

## 2.Using List comprehension

### List comprehension is an elegant way to define and create list in Python. We can create lists just like mathematical statements in one line only. It is also used in getting multiple inputs from a user.

#### Python program showing 
#### how to take multiple inputs
#### using List comprehension

In [ ]:
# Taking the two input at a time
x,y = [int(x) for x in input("Enter the two values").split()]
print("First number is : ", x)
print("Second number is : ", y)

Enter the two values2000 40009
First number is :  2000
Second number is :  40009

In [ ]:
# Taking three input at a time
x,y,z = [int(x) for x in input("Enter the Three values: ").split()]
print("First number is :", x)
print("Second number is :", y)
print("Third number is :", z)

Enter the Three values: 12 23 34
First number is : 12
Second number is : 23
Third number is : 34

In [ ]:
# Taking two input at a time
x,y = [int(x) for x in input("Enter the two number : ").split()]
print("First number is {} and Second number is {}".format(x,y))

Enter the two number : 1000 100000
First number is 1000 and Second number is 100000

In [ ]:
# taking multiple inputs at a time
x = [int(x) for x in input("Enter the multiple values: ").split()]
print("Number of list is : ", x)

Enter the multiple values: 1 2 3 4 5 6 7 8 9 0 12 2 3 3 333 34 35
Number of list is :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 12, 2, 3, 3, 333, 34, 35]

## Python | Output using print() function

### Python print() function prints the message to the screen or any other standard output device.

#### Syntax: 
#### print(value(s), sep= ' ', end = '\n', file=file, flush=flush)

#### Parameters: 

#### 1.value(s): Any value, and as many as you like. Will be converted to a string before printed
#### 2.sep=’separator’ : (Optional) Specify how to separate the objects, if there is more than one.Default :’ ‘
#### 3.end=’end’: (Optional) Specify what to print at the end.Default : ‘\n’
#### 4.file : (Optional) An object with a write method. Default :sys.stdout
#### 5.flush : (Optional) A Boolean, specifying if the output is flushed (True) or buffered (False). Default: False
#### Return Type: It returns output to the screen.

### String Literals

#### String literals in python’s print statement are primarily used to format or design how a specific string appears when printed using the print() function.

##### 1. \n : This string literal is used to add a new blank line while printing a statement.
##### 2.“” : An empty quote (“”) is used to print an empty line.

In [ ]:
print("Akash is a \n good boy")

Akash is a
 good boy

In [ ]:
print("PW skills and Greeks for Greeks are the \n good learning platforms")

PW skills and Greeks for Greeks are the
 good learning platforms

### end= ” ” statement

#### The end keyword is used to specify the content that is to be printed at the end of the execution of the print() function. By default, it is set to “\n”, which leads to the change of line after the execution of print() statement.

#### Python print() without new line.

In [ ]:
# This line will automatically add a new line before the next print statement.
print("This is for the without new line printing statement")

This is for the without new line printing statement

In [ ]:
# This print() function ends with "**" as set in the end argument
print("PW skills is the best platform for DSA content", end= "**")
print("The main skill is learning the python language for it")

PW skills is the best platform for DSA content**The main skill is learning the python language for it

### flush Argument

#### The I/Os in python are generally buffered, meaning they are used in chunks. This is where flush comes in as it helps users to decide if they need the written content to be buffered or not. By default, it is set to false. If it is set to true, the output will be written as a sequence of characters one after the other. This process is slow simply because it is easier to write in chunks rather than writing one character at a time.

In [ ]:
## initial code
import time

count_seconds = 3
for i in reversed(range(count_seconds + 1)):
  if i> 0:
    print(i, end='>>>')
    time.sleep(1)
  else:
    print('Start')

3>>>2>>>1>>>Start

In [ ]:
## initial code wit flush argument

import time

count_seconds = 3
for i in reversed(range(count_seconds + 1)):
  if i > 0:
    print(i, end='>>>', flush= True)
    time.sleep(1)
  else:
    print('Start')

3>>>2>>>1>>>Start

### Separator

#### The print() function can accept any number of posional arguments. To saperate these positional arguments, keyword argument "sep" is used.

In [ ]:
a=12
b=12
c=2023
print(a,b,c,sep="-")

12-12-2023

In [ ]:
print(10,20,sep=" - ", 30)

SyntaxError: ignored

## File argument

#### Contrary to popular belief, the print() function doesn't convert the messages into text on the screen. These are done by lower-level layer of code, that can read data(message) in bytes. The print() function is an interface over these layers, that delegates the actual printing to a stream or file-like object. By defacut, the print() function is bound to sys.stdout through the file argument.

In [ ]:
import io

#declare a dummy file
dummy_file = io.StringIO()

#add message to the dummy file
print('Hello Akash!!!', file=dummy_file)

#get the value from dummy files
dummy_file.getvalue()

'Hello Akash!!!\n'

#### Print() function to write content directly t text file.

In [ ]:
print('Welcome to the Pune.!!!', file=open('Textfile.txt', 'w'))

#### Using print() function in python

In [ ]:
## how to print data on screen

# One object is passed
print("Akash Rayate")

x = 5
#Two objects are passed
print("X= ", x)

#code for disabling the softspace feacher
print('G', 'F', 'G', sep='')

#using end argument
print("Python", end='@')
print("GreeksforGreeks")

Akash Rayate
X=  5
GFG
Python@GreeksforGreeks

### How to print withot newline in python

In [ ]:
# Pythone 2 code for printing 
# on the same line printing 
# geeks and geeksforgeeks
# in same line.

print("geeks", end=' '),
print("geeksforgeeks")

#array 
a = [1,2,3,4]

# printing a element in same 
# line 
for i in range(4):
  print(a[i], end=' ')

geeks geeksforgeeks
1 2 3 4

In [ ]:
# Print without newline in Python 3.x without using for loop
 
l = [1, 2, 3, 4, 5, 6]
 
# using * symbol prints the list
# elements in a single line
print(*l)
 
#This code is contributed by anuragsingh1022

1 2 3 4 5 6

In [ ]:
import sys
 
sys.stdout.write("GeeksforGeeks ")
sys.stdout.write("is best website for coding!")

GeeksforGeeks is best website for coding!

## Python end parameter in print()

In [ ]:
# ends the output with a space
print("Welcome to", end=' ')
print("Pune", end=' ')

Welcome to Pune

In [ ]:
#end the output with '@'
print("Python", end='@')
print("is the Great Language")

Python@is the Great Language

In [ ]:
#Print with end and sep parameter
print('G', 'F', sep='-', end='')
print('G')

#\n provides new line after printing the year
print('9', '12', '2023', sep='-', end='\n')

print('Red','Green','Blue', sep='-', end='@')
print('printing')

G-FG
9-12-2023
Red-Green-Blue@printing

## Python | Output Formatting

#### There are several ways to format output. 

##### To use formatted string literals, begin a string with f or F before the opening quotation mark or triple quotation mark.
##### The str. format() method of strings helps a user create a fancier output
##### Users can do all the string handling by using string slicing and concatenation operations to create any layout that the users want. The string type has some methods that perform useful operations for padding strings to a given column width.

### Formatting output using String modulo operator(%) : 
##### The % operator can also be used for string formatting. It interprets the left argument much like a printf()-style format as in C language strings to be applied to the right argument.

In [ ]:
# Python program showing how to use
# string module opereator(%) to print
# fancier output

# print integer and fload value
print("Geeks : %2d, Portal : %5.2f" % (1, 5.33))

Geeks :  1, Portal :  5.33

In [ ]:
#print integer value
print("Total student : %3d, Boys : %2d" % (240,120))

Total student : 240, Boys : 120

In [ ]:
#print octal value
print("%7.3o" % (25))

    031

In [ ]:
# print exponential value
print("%10.3E" % (356.08977))

 3.561E+02

### Formatting output using the format method :

In [ ]:
# Python program showing 
#use of format() method

#using format() method
print('I love {} for "{}!!!"'.format('Mother', 'Dad'))

I love Mother for "Dad!!!"

In [ ]:
#using format() method and referring 
# a position of the object

print('{0} and {1}'.format("Mother", "Dad"))
print('{1} and {0}'.format("Mother", "Dad"))

Mother and Dad
Dad and Mother

In [ ]:
#The above formatting can also be done by using f-strings
#Although, this feachers work only with python 3.6 and above

print(f"I love {'Pune'} for \"{'Education'}!\"")

I love Pune for "Education!"

In [ ]:
#using the format() method and referring 
#a position of the object

print(f"{'Geeks'} and {'Portal'}")

Geeks and Portal

In [ ]:
# using format() method with number
print("Geeks :{0:2d}, Portal :{1:8.2f}".format(12,00.546))

Geeks :12, Portal :    0.55

In [ ]:
#Combining positional and keyword arguments
print('Number one portal is {0}, {1}, and {other}.'.format('akash', 'for', other='Rayate'))

Number one portal is akash, for, and Rayate.

In [ ]:
#Changing positional argument
print("Second argument: {1:3d}, first on: {0:7.2f}".format(47.42,11))

Second argument:  11, first on:   47.42

In [ ]:
# Python program to
# show format() is
# used in dictionary

tab = {'geeks':4127, 'for':4567, 'geek':87654654}

#using format() in dictionary
print('Geeks:{0[geeks]:d}; For: {0[for]:d};' 'Geeks: {0[geek]:d}'.format(tab))

data = dict(fun="GeeksForGeeks", adj = "Prtal")

#using format() in dictionary
print("I love {fun} computer {adj}".format(**data))

Geeks:4127; For: 4567;Geeks: 87654654
I love GeeksForGeeks computer Prtal

In [ ]:
# Python program to
# format a output 
# string() method

str = "Ilove my Pune"

#Printing the center aligned
# string with fillchr

print("Center aligned string with fillchr: ")
print(str.center(22,'#'))

##Printing the left aligned
#string with "-" padding
print("The left aligned string is : ")
print(str.ljust(40, '-'))

#Printing the right aligned string
#with "-" padding
print("The right aligned string is : ")
print(str.rjust(54,'-'))

Center aligned string with fillchr:
####Ilove my Pune#####
The left aligned string is :
Ilove my Pune---------------------------
The right aligned string is :
-----------------------------------------Ilove my Pune