# Python - Change List Items
## Change Item Value 
#### To change the value of the specified items, refers to the index number:

In [4]:
# Change the Second item :
thislist = ["apple", "banana", "cherry"]
print(thislist)
thislist[1] = "blackcurrent"
print(thislist)

['apple', 'banana', 'cherry']
['apple', 'blackcurrent', 'cherry']

### Change a Range od item Values
#### Change the values "banana" and "cherry" with the values of "blackcurrant" and "watermelon"

In [6]:
thislist = ["apple","banana","cherry", "orange", "kiwi", "mango"]
print(thislist)
thislist[1:3] = ["blackcurrent", "watermelon"]
print(thislist)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'mango']
['apple', 'blackcurrent', 'watermelon', 'orange', 'kiwi', 'mango']

### If you ionsert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [7]:
# Change the second value by replacing it with two values:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

### If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [8]:
# Change the second and thiord value by replacing it with one value:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']