# Python Lists

#### List are used to store multiple items  in a single variable.

#### **Lists are created using square brackests[]**

In [1]:
#Examples 
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

## List Items 
#### List items are ordered, changable and allow duplicate values.
#### List items are indexed, the first items has index [0], the second item has index [1] etc.
### Ordered
#### When we say that lists are ordered, it means that the items have a defined order, and that order will not change.
#### If you add new items to a list, the new items will be placed at the end of the list.
### Changeable
#### The list is changeable, meaning that we can change, add and remove items in a list after it has been created.
### Allow Duplicates
#### Since lists are indexed, list can have items with the same value:

In [2]:
## List allow duplicate values:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

### List Length
#### To detrmine how many items a list has, use the len() function:

In [4]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

### List Items - Data Types
#### List items can be of any data type:

In [6]:
#String, int and boolean data types:
list1 = ["apple", "banana", "cherry"]
list2 = [1,2,3,4,5,9,3]
list3 = [True,False, True]

print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 2, 3, 4, 5, 9, 3]
[True, False, True]

In [7]:
# A list with string, integers and boolean values:
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

### **type()** Lists are defined as objects with the data type "list":

In [8]:
# What is the data type of a list?
mylist = ["apple", "banana", 2, 10]
print(type(mylist))

<class 'list'>

### The list() Constructor
#### It is also possible to use the list() constructor when creating a new list

In [10]:
thislist = list(("apple", "Banana", "cherry")) # Note the double round - brackets
print(thislist)

['apple', 'Banana', 'cherry']

## Pthon - Access List Items
#### Access Items are indexed and you can access them by referring to the index number:

In [11]:
#Example - Print the second item of the list
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

### Negative Indexing 
#### Negative indexing means start from the end
#### -1 refers to the last item, -2 refers to the second last item etc.

In [12]:
#Example - Print the last item of the list:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

### Range of Indexes
#### You can specify a range of indexes by specifing where to start and where to end the range.
#### When specifying a range, the return value will be a new list with the specified items.

In [14]:
# Retutrn the third, fourth, and fifth item:
thislist = ["apple", "banana", "cherry", "kiwi", "orange", "mango", "melon"]
print(thislist[2:5])

['cherry', 'kiwi', 'orange']

In [16]:
# Example - By leaving out the start value, the range will start at the first item:
thislist = ["apple", "banana", "cherry", "orange", "kivi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [18]:
#By leaving retiurns the items from "cherry" to the end:
thislist = ["apple", "banana", "cherry", "orange", "kivi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kivi', 'melon', 'mango']

In [19]:
# Range of Negative
# Specify negative indexex if you want to start the search from the end of the list:
thislist = ["apple","banana","cherry","kivi","orange","melon","mango"]
print(thislist[-4:-1])

['kivi', 'orange', 'melon']

In [20]:
# To determine if a specified item is present in the list:

thislist = ["apple", "banna", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list