# Python Casting

## Specify Variable Type

### Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

### Casting in python is therefore done using constructor functions:

#### int() -constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)

#### float() -constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)

#### str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [1]:
# Integers:

x = int(1)
y = int(2.8)
z = int("3")

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

1
2
3
<class 'int'>
<class 'int'>
<class 'int'>

In [2]:
# Floats

x = float(2)
y = float(3.8)
z = float("3")
w = float("4.2")

print(x)
print(y)
print(z)
print(w)

print(type(x))
print(type(y))
print(type(z))
print(type(w))

2.0
3.8
3.0
4.2
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [3]:
# String

x = str("s1")
y = str(2)
z = str(3.0)

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

s1
2
3.0
<class 'str'>
<class 'str'>
<class 'str'>